*{
    box-sizing: border-box;
}
body{
    background-color: rgb(211, 211, 204);
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
.header{
    padding: 30px; 
    background-color: white;
    text-align: center;
}
.header h1{
    font-size: 50px;
}
.nav{
    background-color: black;
    overflow: hidden;
}
.nav a{
    display: block;
    float: left;
    color: rgb(253, 252, 251);
    padding: 14px 16px;
    text-align: center;
}
.nav a:hover {
    background-color: rgb(201, 194, 183);
    color: rgb(7, 7, 6);
}
.leftcolumn{
    float: left;
    width: 75%;
}

.rightcolumn{
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
.image{
    background-color: #aaa;
    width: 50%;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    border: 5px solid #000;
    color: red;
    background-size: cover;

    animation-name:color ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes color{
    0%{
          background-color: red; left: 0px; top: 0px;
        }
    50%{
        background-color:yellow ; left: 150px; top: 0px;
    }
    100%{
        background-color: rgb(27, 7, 99); left: 0px; top: 0px; 
    }    
}
.card{
    padding: 20px;
    background-color: whitesmoke;
    margin-top: 20px;
}
.row:after{
    content:"";
    display: table;
    clear: both;
}
.footer{
    padding: 20px;
    text-align: center;
    background:#ddd;
    margin-top: 20px;
}

  