body{
    background-color: darkgrey;
    margin: 0px;
    padding: 0px;
}
section{
    width: 100%;
    height: 90vh;
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
nav{
    display: flex;
  justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(231, 230, 230);
    box-shadow: 2px 2px 18px #000;
    padding:0px 5%;

}
nav ul{
    display: flex;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav ul li a{
    margin:30px;
    color: darkslateblue;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    font-size: 22px;
    font-weight: bold;
}